<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  
  <ion-tab title="Prijava" icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Moje zadaće" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" href="#/tab/zadace">
    <ion-nav-view name="tab-zadace"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Odjava"  icon-off="ion-log-out" icon-on="ion-log-out">
  </ion-tab>


</ion-tabs>
