.bar-balanced{
background-color:#00796B !important;}

.naslov{color: silver !important;
font-weight: normal !important;}
 
.button-stable{
color: #00796B  !important; 
position: absolute;
left: 7.5em;
}

